.s_wrap 
{
    position: relative;
}

.s_s
{
    float: left;
}
.b_wrap
{
    float:left; 
    position: relative;
    margin-left:2px; 
}
.b_underline
{
    position: absolute; left: 1px;
}
.b_b
{
    position: absolute; 
    left: 0px;
    top: 0px;
    /* margin-left: 5px; */
    word-break: break-all;
}
.b_t 
{
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    resize: none;
    background-color: transparent;
    overflow: hidden;
    outline: 0 none;
    width: 100%;
}